/* ---------- Font Imports ---------- */



/* ---------- Global ---------- */



/* ---------- Appointment Grid ---------- */
.barber-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.barber-grid-item {
    
}

