/* #region --------- Fonts --------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@font-face {
    font-family: "TeachableSans-Regular";
    src: url("/fonts/TeachableSans-Regular.ttf") format("ttf"),
}

@font-face {
    font-family: "TeachableSans-Bold";
    src: url("/fonts/TeachableSans-Bold.ttf") format("ttf"),
}


/* #endregion ------ Fonts --------- */


/* #region --------- Global --------- */
body {
    background: #fff;
    color: #000;
    font-family: 'TeachableSans-Regular', sans-serif;
    font-size: 15px;
    letter-spacing: 0.7px;
    text-rendering: optimizeLegibility;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #a0a0a0;
}

.text-center {
    text-align: center;
}

.element-center {
    margin: 0 auto;
}

.narrow-content {
    max-width: 900px;
}

.narrow-content-smaller {
    max-width: 500px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-full-grid > * {
    flex: 1;
}

.menu-items > * {
    text-transform: uppercase;
    padding: 0 10px;
}

.overlay-parent {
    position: relative;
}

.overlay-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

input {
    background-color: #f4f9fb;
    border: 0;
    box-shadow: 0px 1px 1px 0px #E6E9EC;
    color: #555;
    margin-bottom: 14px;
    font-size: 14px;
    height: 26px;
    border-radius: 4px;
}

input:focus {
    outline-offset: 0px;
    outline: none;
    transition: .3s ease-in-out;
    background: #fff8e6;
    box-shadow: 0px 1px 1px 0px #f9c4ad;
    border: 0px;
}

label {
    font-size: 13px;
    padding: 10px 0px;
}

.App {
    min-height: 100vh;
}

.landing-view {
    flex: auto;
}

.hover-light:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
    transition: ease-in-out .2s;
}

.hover-dark:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
    transition: ease-in-out .2s;
}


/* #endregion ------ Global --------- */


/* #region ------ Spacing --------- */
.mini-padding {
    padding: 10px;
}

.small-padding {
    padding: 20px;
}

.medium-padding {
    padding: 30px 40px;
}

.large-padding {
    padding: 80px 20px;
}

.mini-margin {
    margin: 5px 0;
}

.small-margin {
    margin: 10px 0;
}

.medium-margin {
    margin: 30px 0;
}

.large-margin {
    margin: 60px 0;
}


/* #endregion ------ Spacing --------- */


/* #region --------- Titles --------- */
.mini-title {
    font-size: 10px;
}

.header-name-title {
    font-family: 'Oswald', sans-serif;
    font-size: 57px;
    text-transform: uppercase;
    font-weight: 700;
}

.header-title {
    font-size: 24px;
    font-family: 'TeachableSans-Bold', sans-serif;
    line-height: 39px;
}

.header-step-title {
    color: rgba(255, 255, 255, 0.72);
    font-size: 14px;
}

.active-step-title {
    font-weight: 600;
    color: #fff;
}

.header-subtitle {
    font-size: 15px;
    font-family: 'TeachableSans-Regular', sans-serif;
    line-height: 23px;
}

.switcher-link-title {
    font-size: 15px;
    color: #5f5f5f;
}


/* #endregion ------ Titles --------- */


/* #region --------- Palettes --------- */
.palette-one {
    color: #fff;
    background: #000;
}

.palette-two {
    color: #47505E;
    background: #fff;
}

.palette-three {
    color: #fff;
    background: #1EA69A;
}

.bottom-grey {
    border-bottom: solid 2px #f1f1f1;
}

/* #endregion ------ Palettes --------- */


/* #region --------- Buttons --------- */
.orange-button {
    font-family: 'TeachableSans-Bold', sans-serif;
    font-size: 14px;
    border-radius: 100px;
    padding: 20px 40px;
    text-decoration: none !important;
    cursor: pointer;
    outline: none !important;
    box-shadow: none !important;
    background-color: #ff7f45;
    color: white;
    border: none;
    font-weight: 800;
}

.orange-button:hover {
    background: #FF6D2C;
}

/* #endregion --------- Buttons --------- */


/* #region --------- Header --------- */
.section-main {
    flex: auto;
}

.section-header-landing {
    background-image: url(../images/barberbg.jpg), linear-gradient(to right, #00f3ff, #ffa500);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 60vh;
    color: #fff;
}

.section-header-overlay {
    height: 100%;
    background: rgba(255, 241, 198, 0.2);
}

.section-header-content {
    height: 100%;
}


/* #endregion --------- Header --------- */


/* #region --------- Switcher --------- */
.switcher-menu {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.switcher-link {
    align-items: center;
    cursor: pointer;
    height: 100%;
}

.switcher-link > div {
    transition: .3s ease-in-out;
}

.switcher-link:hover > div {
    border-bottom: solid 3px #ff7f45;
    color: #ff7f45;
    margin-bottom: 1px;
    padding-bottom: 30px;
}

.item-image {
    width: 50%;
}


/* #endregion --------- Switcher --------- */


/* #region --------- Appointment Form --------- */
.styles_modal__gNwvD {
    padding: 0;
    background: transparent;
}

.appointment-form {
    justify-content: center;
}

.appointment-form-left {
    position: relative;
    border-radius: 6px 0px 0px 6px;
}

.header-steps {
    position: relative;
    align-items: flex-end;
}

.header-steps > div {
    margin-bottom: 20px;
}

.active-step-title:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    content: "";
    position: absolute;
    right: 0px;
    display: inline-block;
}

.appointment-form-right {
    border-radius: 0px 6px 6px 0px;
}

.appointment-form-group-container {
    justify-content: center;
    align-items: flex-start;
    padding: 0px 60px;
}

/* VVV ----- CONTINUE STYLING APPOINTMENT FORM SERVICES HERE */
.services-view {
    max-width: 186px;
    margin: 0 auto;
}

.appointment-form-right-bottom {
    border-top: 1px solid #EEE;
}

.appointment-form-right-bottom-description {
    max-width: 200px;
}


/* #endregion --------- Appointment Form --------- */


/* #region --------- Dashboard --------- */
.dashboard-barber-grid {
    color: #fff;
    height: 100%;
}

.dashboard-view {
    justify-content: center;
    flex-wrap: nowrap;
    flex: auto;
}

.dashboard-barber-container {
    cursor: pointer;
    width: calc(100% - 40px);
}

.dashboard-barber-photo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex: 100%;
    width: 100%;
    height: 70px;
}

.dashboard-barber-icon {
    font-size: 50px;
}

.dashboard-menu {
    background: linear-gradient(to bottom, #3090e8, #2fbcd2);
    flex: 7%
}

.dashboard-barber-container.active {
    background-color: #ffffff30;
}

.dashboard-barber-info {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

.dashboard-monthly-view {
    flex: 23%;
    background: linear-gradient(to bottom, #365c7d, #406475);
}

.dashboard-weekly-view {
    flex: 70%;
}

.dashboard-monthly-view .rbc-calendar {
    height: 46vh;
    min-height: 437px;
    padding: 40px;
    font-weight: 600;
    color: #fff;
}

.dashboard-monthly-view .rbc-toolbar-label {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}

.dashboard-monthly-view .rbc-toolbar button {
    border: none !important;
    color: #fff;
}

.dashboard-monthly-view .rbc-day-bg + .rbc-day-bg,
.dashboard-monthly-view .rbc-month-row + .rbc-month-row,
.dashboard-monthly-view .rbc-header,
.dashboard-monthly-view .rbc-month-view {
    border: none !important;
}

.dashboard-monthly-view .rbc-off-range-bg {
    background: transparent;
}

.dashboard-monthly-view .rbc-date-cell {
    text-align: center;
    padding: 0;
}

.dashboard-monthly-view .rbc-today {
    background: transparent;
}

.dashboard-monthly-view .rbc-current > a {
    border-bottom: 2px solid #fff;
    padding-bottom: 6px;
}

.dashboard-monthly-view .rbc-month-header {
    margin: 40px 0px;
}

.dashboard-monthly-view .rbc-off-range,
.dashboard-monthly-view .rbc-header {
    color: #ffffff4a;
}

.dashboard-monthly-view .rbc-event {
    display: none;
}

.dashboard-weekly-view .rbc-calendar {
    min-height: 437px;
}

.dashboard-weekly-view .rbc-header,
.dashboard-weekly-view .rbc-time-content,
.dashboard-weekly-view .rbc-timeslot-group {
    border: none;
}

.dashboard-weekly-view .rbc-time-header {
    flex: 30%;
}

.dashboard-weekly-view .rbc-time-content {
    flex: 70%;
}

.dashboard-weekly-view .rbc-time-header-content {
    display: block;
}

.dashboard-weekly-view .rbc-row.rbc-time-header-cell,
.dashboard-weekly-view .day-week-column {
    height: 100%;
}

.dashboard-weekly-view .day-week-column > div {
    flex: 100%;
}

.dashboard-weekly-view .rbc-time-slot {
    border: none !important;
}

.dashboard-weekly-view .rbc-header,
.dashboard-weekly-view .rbc-day-slot {
    background-color: #fcfdff;
}

.dashboard-weekly-view .rbc-header:last-child,
.dashboard-weekly-view .rbc-day-slot:last-child {
    background-color: rgb(238, 241, 242);
}

.dashboard-weekly-view .rbc-today {
    background-color: #fff;
}

.dashboard-weekly-view .rbc-header.rbc-today::before {
    content: '';
    border-bottom: 5px solid rgb(10, 194, 255);
    display: block;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0px 9px 12px -2px rgb(10, 194, 255);
}

.dashboard-weekly-view .column-day {
    font-size: 50px;
    font-weight: 600;
    color: rgb(158, 176, 190);
    align-self: flex-end;
}

.dashboard-weekly-view .rbc-today .column-day {
    color: #697d8d;
}

.dashboard-weekly-view .column-week {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 25px;
    color: rgb(158, 176, 190);
    align-self: flex-start;
}

.dashboard-weekly-view .rbc-today .column-week {
    color: #697d8d;
}

.dashboard-weekly-view .column-divider-container {
    align-self: flex-start;
}

.dashboard-weekly-view .column-divider-circle {
    padding: 13px;
    border-radius: 50%;
    background: rgb(192, 205, 217);
}

.dashboard-weekly-view .rbc-today .column-divider-circle {
    padding: 26px;
    background: #7ed3f4;
}

.dashboard-weekly-view .rbc-event-label,
.dashboard-weekly-view .rbc-time-gutter.rbc-time-column,
.dashboard-weekly-view .rbc-label.rbc-time-header-gutter,
.dashboard-weekly-view .rbc-allday-cell,
.dashboard-weekly-view .rbc-current-time-indicator {
    display: none;
}

.dashboard-weekly-view .rbc-events-container {
    margin: 0 !important;
}

.dashboard-weekly-view .rbc-event {
    position: relative !important;
    top: unset !important;
    height: auto !important;
    left: unset !important;
    width: auto !important;
    background-color: transparent;
    color: #000;
    border: none !important;
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    border-radius: 0;
}

.dashboard-weekly-view .rbc-event:hover {
    box-shadow: inset 0 0 100px 100px rgba(184, 194, 204, 0.1);
    transition: ease-in-out .2s;
}

.dashboard-weekly-view .rbc-event::after {
    content: '';
    border-bottom: 3px solid rgb(10, 194, 255);
    display: block;
    width: 59%;
}

.dashboard-weekly-view .rbc-event-content {
    margin-bottom: 10px;
}

.dashboard-weekly-view .week-appointment-inline {
    display: inline-block;
}

.dashboard-weekly-view .week-appointment-time  {
    text-decoration: underline;
    margin-bottom: 10px;
}

.dashboard-weekly-view .week-appointment-name-first {
    margin-bottom: 2px;
}

.dashboard-agenda-view .dashboard-agenda-view-title {
    padding: 0 40px;
    color: rgb(142, 163, 184);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dashboard-agenda-view .rbc-agenda-view > .rbc-agenda-table,
.dashboard-agenda-view .rbc-agenda-date-cell,
.dashboard-agenda-view .rbc-agenda-time-cell {
    display: none;
}

.dashboard-agenda-view .rbc-agenda-table,
.dashboard-agenda-view .rbc-agenda-event-cell {
    border: none !important;
    border-collapse: unset !important;
}

.dashboard-agenda-view .rbc-calendar {
    padding: 30px 40px;
}

.dashboard-agenda-view .rbc-agenda-event-cell {
    padding: 0 !important;
}

.dashboard-agenda-view .week-appointment-name {
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 0px;
    color: #efefef;
    margin-bottom: 20px;
}

/* TEMPORARY | Make modal popover with this content */
.dashboard-weekly-view .week-appointment-contact,
.dashboard-agenda-view .week-appointment-contact {
    display: none;
}

/* #endregion --------- Dashboard --------- */


